.profile {
  background-color: #02ebd4 !important;

  .titles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
    border-bottom: 1px solid black;

    i {
      margin-top: 20px;
      font-size: 20px;
      color: #004f47;
    }

    .text-content {
      display: flex;

      .text {
        margin-left: 50px;
        color: #004f47;

        h1 {
          font-size: 18px;
        }
        h3 {
          font-size: 14px;
        }
      }
    }
  }
}
