@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.btn {
  width: 150px;
  padding: 10px;
  border-radius: 20px !important;
  background: transparent !important;
  border: 1px solid #2dbdaf;
  color: rgb(0, 0, 0);
  transition: 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background: #2dbdaf !important;
    color: rgb(255, 255, 255);
    transform: scale(1.1);
  }
}
